:host{
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

body {
  margin: 0;
  padding: 0;

}

#contact {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #3d4554;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  max-height:500px;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  padding:0px;
}
.mat-form-field-label-wrapper{

  border-bottom: 1px solid #fff;
}
.contact-wrapper{
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 0px 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.direct-contact-container{
  grid-area: 2 / 2 / 3 / 3;
}
textarea.mat-input-element{
  background-color: transparent;
  resize:none;
}
.mat-form-field-flex{
  border-bottom: 1px solid #fff;
}
.submit{
  color: #fff;}
.section-header {
  padding-top: 30px;
  color: #fff;
  margin-bottom: 0.25em;
  font-family: "Patua One", cursive;
  font-size: 2em;
  text-align: center;
  grid-area: 1 / 1 / 2 / 6;
}
.mat-input-element{color:#fff;}
.contact-wrapper {
  grid-area: 2 / 1 / 3 / 2;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  font-family: 'Lato';
  font-weight: 400;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color:tranparent !important;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}


.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  letter-spacing: 1.9px;
  color: #bbb;
  margin-left: 25px;
    margin-bottom: 0.25em;
    font-size: 15px;
    font-family: "Patua One", cursive;
}
.ng-star-inserted{
  color:#fff;
  font-family: "Patua One", cursive;
}


.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  top: 0;
  display: inline-block;
  margin: 10px auto;
  position: relative;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  color: #1b1b1b;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }

  .name, .email, textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

