:host{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 75px;
}

.calendarWrapper{
    height:500px;
    background: #cccccc75;
}