:host{height: 56px;}
.active-link{
  background-color: rgba(255,255,255,.1);
}
nav{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: background-color 0.5s ease;
  background-color: transparent;
}
.logo{
  height: 30px;
}
.navbar-inverse{
  background-color: #3d4554;
}
