<nav class="navWrapper">
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="false" [hidden]="!(loggedIn$ | async)">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/logo.png" /></a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="scroll('homepage')" routerLink="/app-homepage" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="scroll('gallery')" routerLink="/app-gallery" routerLinkActive="active-link">Gallery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="scroll('calendar')" routerLink="/app-calendar" routerLinkActive="active-link">Calendar</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="scroll('contact')" routerLink="/app-contact"  routerLinkActive="active-link">Contact</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
            <mdb-icon fas icon="user" (click)="logout()"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>

  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
</nav>
